* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */

html,
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  background-color: #469165;
  padding: 12px 16px;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  font-size: 16px;
  font-weight: 600;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.btn:hover {
  background-color: #306d4b;
  transition: all;
  transition-duration: 400ms;
}

/* shared styles */

header nav {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .menu {
  display: flex;
  gap: 32px;
}

nav .menu li {
  list-style: none;
}

nav .menu li a {
  color: #000000;
  opacity: 0.9;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

#hero {
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1600px;
  height: 674px;
  /* border: 1px solid rgb(127, 9, 78); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero .hero-content {
  /* border: 1px solid blue; */
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 70px 120px 134px;
}

.early-access-btn {
  padding: 8px 12px;
  color: #469165;
  text-align: center;
  border-radius: 50px;
  border: none;
  font-size: 16px;
}

/* #hero .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

#hero .hero-content h1 {
  margin: 16px auto 0 auto;
  max-width: 770px;
  font-size: 72px;
  line-height: 84px;
  font-weight: 700;
  text-align: center;
  /* border: 1px solid blue; */
  color: white;
}

#hero .hero-content h1 span {
  color: #30b868;
}

#hero .hero-text p {
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  max-width: 770px;
  text-align: center;
  color: white;
  margin-inline: auto;
  text-align: center;
  /* border: 1px solid blue; */
}

#hero .hero-button {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

#hero .hero-button .tranparent-btn {
  padding: 12px 16px;
  font-weight: 600;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
}

#structure {
  padding-top: 50px;
  background-color: #ffffff;
}

#structure .card-container {
  width: 85%;
  max-width: 1360px;
  height: 448px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container .notes {
  text-align: center;
}

.card-container .notes h1 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

.card-container .notes p {
  font-size: 16px;
  margin-top: 16px;
  color: #627382;
  /* text-align: center; */
}

.card-container .card-box {
  margin-top: 44px;
  display: flex;
  gap: 24px;
  /* border: 1px solid red; */
}

.card-box .card {
  max-width: 322px;
  /* height: 300px; */
  background-color: #ffffff;
  padding: 24px 24px 0px;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

.card-box .card .card-logo {
  background-color: #F95555;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.card-box .card h3{
  margin-top: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  text-align: center;
}

.card-box .card p{
  text-align: center;
  margin-top: 16px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}

#solution{
  /* border: 1px solid rebeccapurple; */
  margin-top: 0px;
}

#solution .solution-container{
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.solution-container .solution-image img{
  height: 600px;
  max-width: 600px;
}

.solution-container .right-section{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-section h3{
  color: #469165;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.right-section h1{
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-top: 16px;
}

.right-section .solution-text > p{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
 margin-top: 16px;
}

/* .solution-container .check-lists{
   margin-top: 16px;
} */

.solution-container .check{
  display: flex;
  gap: 6px;
  align-items: center;
  /* border: 1px solid red; */
}

.check > p{
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

 #early-access{
  padding: 120px;

} 

#early-access .early-access-container{
  width: 85%;
  max-width: 1360px;
  padding: 80px 40px;
  margin: 0 auto;
  text-align: center;
  background-color: #F7F6F2;
}

.early-access-container h1{
  font-size: 40px;
  color: #001931;
}

.early-access-container p{
  margin-top: 16px;
  color: #627382;
  font-size: 16px;
  line-height: 24px;
}

.early-access-container .access-btn{
  margin-top: 24px;
}

.early-access-container .early-access-text{
  font-size: 16px;
  line-height: 20px;
  color: #627382;
  margin-top: 16px;
}

footer{
  margin-top: 120px;
}

#footer{
  background-color: #001931;
  padding: 120px 120px 30px;
}

#footer hr {
  border: none;
  height: 1px;
  background-color: white;
  width: 1360px;
  opacity: 0.2;
}

#footer p{
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #FAFAFA;
  text-align: center;
  /* border: 1px solid red; */
}

#footer .logo-links{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}